# Git
.git
.gitignore

# Node
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# PHP / Composer
vendor

# Laravel runtime
.env
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# OS / IDE
.DS_Store
*.swp
*.swo
.idea
.vscode

# Docker
docker-compose.override.yml
/packages/*/vendor
